#cardContainer{
  position: relative;
  width: 600px;
  height: auto;
  margin-top: 550px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  cursor: pointer;
}

.walletLayer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;

  animation: 1s 1 onLoad;
}

#back{
  z-index: 1;
}

#front{
  z-index: 30;
}

#card{
  z-index: 20;
  position: absolute;


  width: 670px;
  height: auto;

  bottom: 10px;
  left: 50%;

  transform: translateX(-50%);
  transform-origin: bottom center;
  transition: transform .35s ease-in-out 0s;

  animation: 1.5s 1 onLoad;
}

#cardContainer:hover #card {
  transform: translate(-50%, -300px) scale(1.1);
  transition: transform .40s ease-in-out 0.2s;
}

@keyframes onLoad{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
