html {
  overscroll-behavior: none;
}

#page{
  margin: 0;
  padding-top: 10vh;
  padding-bottom: 12vh;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows:auto auto auto;
}

#landing{
  grid-column: 1;
  grid-row: 1;
}

#infoBox{
  grid-column: 1;
  grid-row: 2;
}

#intro{
  grid-column: 1;
  grid-row: 3;
}

