#container{
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
  animation: 0.5s onLoad;
}

#box{
  width: 80%;
  height: max-content;

  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(255, 255, 255, 0.46);

  transition: 0.3s;
  animation: 1s onLoad;
}


@keyframes onLoad{
  0%{
    transform: translateY(-5%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@media(max-width: 800px){
  #box{
    width: 95%;
  }
}

h1{
  text-align: center;
  color: white;
  margin-top: 0;
}

p{
  margin: 1.5rem;
  color: white;
}

.subTitle{
  color: white;
  padding-left: 1rem;
  font-size: 2.2rem;
}

.paragraph{
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(255, 255, 255, 0.46);
  width: fit-content;
  height: fit-content;
  margin: 1rem;
}

.thick{
  font-weight: bold;
}

#controller{
  list-style: disc;
  color: lightgray;
}

#logs{
  list-style: disc;
  color: lightgray;
}

.row{
  display: flex;
  flex-direction: row;
}
